<p style="color: green"><%= notice %></p>

<h1>Entries (<%= @entries.total %> total)</h1>

<%= form_tag entries_path, method: :get, autofocus: true do  %>
  <%= text_field_tag :search, params[:search] %>
<% end %>

<% if params[:search] %>
  <%= link_to "Clean search", entries_path  %>
<% end %>

<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", entry %>
    </p>
  <% end %>
</div>

<% if @policy.new? %>
  <%= link_to "New entry", new_entry_path %>
<% end %>
