<p style="color: green"><%= notice %></p>

<%= render @entry %>

<div>
  <ul>
    <% if @policy.edit? %>
    <li>
      <%= link_to "Edit this entry", edit_entry_path(@entry) %>
    </li>
    <% end %>
    <% if @policy.index? %>
      <li>
        <%= link_to "Back to entries", entries_path %>
      </li>
    <% end %>
  </ul>

  <% if @policy.destroy? %>
    <%= button_to "Destroy this entry", @entry, method: :delete %>
  <% end %>
</div>
